<ion-view title="Relation Tips (Cont'd)" id="page3" hide-nav-bar="true" cache-view="false" nav-transition="none"  style="">
  <ion-content>
    <div id="explanation-markdown4" ng-show="counter == 1" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"Saying and doing small, simple expressions of gratitude every day yields big rewards. When people feel recognized as special and appreciated, they're happier in that relationship and more motivated to make the relationship better and stronger.
        And when I say simple, I really mean it. Make small gestures that show you're paying attention: Hug, kiss, hold hands, buy a small gift, send a card, fix a favorite dessert, put gas in the car, or tell your partner, 'You're the best dad,' or simply
        say 'Thank you for being so wonderful.'"</p>
    </div>
    <div id="explanation-markdown5" ng-show="counter == 2" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"There’s no such thing as a failed romance. Relationships simply evolve into what they were always meant to be. It’s best not to try to make something that is meant to be seasonal or temporary into a lifelong relationship. Let go and enjoy the journey."</p>
    </div>
    <div id="explanation-markdown6" ng-show="counter == 3" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"This may sound obvious, but you can't imagine how many people come to couples therapy too late, when their partner is done with a relationship and wants to end it. It is very important to realize that everyone potentially has a breaking point,
        and if their needs are not met or they don't feel seen by the other, they will more than likely find it somewhere else. Many people assume that just because they are OK without things they want so is their partner. 'No relationship is perfect'
        shouldn't be used as a rationalization for complacency."</p>
    </div>
    <div id="explanation-markdown7" ng-show="counter == 4" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"A friend taught me that no matter how in love you are or how long you've been together, it's important to take an exhale from your partnership. Hang out with girlfriends until late in the evening, take a weekend trip to visit family, or just spend
        time 'doing you' for a while. Then when you go home to Yours Truly, you'll both be recharged and ready to come together even stronger."</p>
    </div>
    <div id="explanation-markdown8" ng-show="counter == 5" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"Researchers have found that four conflict messages are able to predict whether couples remain together or get divorced: contempt, criticism, stonewalling (or withdrawal), and defensiveness. Together, they're known as the 'Four Horsemen of Divorce.'
        Instead of resorting to these negative tactics, fight fairly: Look for places where each partner's goal overlaps into a shared common goal and build from that. Also, focus on using 'I' vs. 'you' language."</p>
    </div>
    <div id="explanation-markdown9" ng-show="counter == 6" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"'You are my everything' is a lousy pop-song lyric and an even worse relationship plan. No one can be 'everything' to anyone. Create relationships outside The Relationship, or The Relationship isn't going to work anymore."</p>
    </div>
    <div id="explanation-markdown10" ng-show="counter == 7" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"For long-lasting love, the more similarity (e.g., age, education, values, personality, hobbies), the better. Partners should be especially sure that their values match before getting into marriage. Although other differences can be accommodated
        and tolerated, a difference in values is particularly problematic if the goal is long-lasting love. Another secret for a long marriage: Both partners need to commit to making it work, no matter what. The only thing that can break up a relationship
        are the partners themselves."</p>
    </div>
    <div id="explanation-markdown11" ng-show="counter == 8" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"Research has shown that the way a problem is brought up determines both how the rest of that conversation will go and how the rest of the relationship will go. Many times an issue is brought up by attacking or blaming one’s partner, also known
        as criticism, and one of the killers of a relationship. So start gently. Instead of saying, 'You always leave your dishes all over the place! Why can’t you pick anything up?' try a more gentle approach, focusing on your own emotional reaction
        and a positive request. For example: 'I get annoyed when I see dishes in the living room. Would you please put them back in the kitchen when you’re finished?'"</p>
    </div>
    <div id="explanation-markdown12" ng-show="counter == 9" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"There is one major cause of relationship problems: self-abandonment. We can 'abandon' ourselves in many areas: emotional (judging or ignoring our feelings), financial (spending irresponsibly), organizational (being late or messy), physical (eating
        badly, not exercising), relational (creating conflict in a relationship), or spiritual (depending too much on your partner for love). When you decide to learn to love yourself rather than continue to abandon yourself, you will discover how to
        create a loving relationship with your partner."</p>
    </div>
    <div id="explanation-markdown13" ng-show="counter == 10" class="show-list-numbers-and-dots welcome1">
      <p style="color:rgb(19, 124, 16);">"Every couple has what I call a 'good conflict.' In long-term relationships, we often feel that the thing you most need from your partner is the very thing he or she is least capable of giving you. This isn't the end of love—it's the beginning of
        deeper love! Don't run from that conflict. It's supposed to be there. In fact, it's your key to happiness as a couple—if you both can name it and commit to working on it together as a couple. If you approach your 'good conflicts' with bitterness,
        blame, and contempt, your relationship will turn toxic."</p>
    </div>
  </ion-content>
</ion-view>