<ion-view title="Relation Tips" hide-back-button="true" id="page2" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="relationTips-list1">
      <ion-item id="relationTips-list-item4" ui-sref="explanation({&quot;counter&quot;:&quot;1&quot;})" class="item-text-wrap" style="">1. Do or say something daily to show your appreciation.</ion-item>
      <ion-item id="relationTips-list-item7" ui-sref="explanation({&quot;counter&quot;:&quot;2&quot;})" class="item-text-wrap" style="">2. Realize every relationship has value, regardless of how long it lasts.</ion-item>
      <ion-item id="relationTips-list-item8" ui-sref="explanation({&quot;counter&quot;:&quot;3&quot;})" class="item-text-wrap" style="">3. Never take your partner for granted.</ion-item>
      <ion-item id="relationTips-list-item9" ui-sref="explanation({&quot;counter&quot;:&quot;4&quot;})" class="item-text-wrap" style="">4. Remember to take breaks.</ion-item>
      <ion-item id="relationTips-list-item10" ui-sref="explanation({&quot;counter&quot;:&quot;5&quot;})" class="item-text-wrap" style="">5. It's not what you fight about—it's how you fight.</ion-item>
      <ion-item id="relationTips-list-item11" ui-sref="explanation({&quot;counter&quot;:&quot;6&quot;})" class="item-text-wrap" style="">6. Stop trying to be each other’s “everything.”</ion-item>
      <ion-item id="relationTips-list-item13" ui-sref="explanation({&quot;counter&quot;:&quot;7&quot;})" class="item-text-wrap" style="">7. Look for someone with similar values.</ion-item>
      <ion-item id="relationTips-list-item14" ui-sref="explanation({&quot;counter&quot;:&quot;8&quot;})" class="item-text-wrap" style="">8. Try a nicer approach.</ion-item>
      <ion-item id="relationTips-list-item16" ui-sref="explanation({&quot;counter&quot;:&quot;9&quot;})" class="item-text-wrap" style="">9. Take care of yourself.</ion-item>
      <ion-item id="relationTips-list-item18" ui-sref="explanation({&quot;counter&quot;:&quot;10&quot;})" class="item-text-wrap" style="">10. Identify your "good conflicts," and work on them together.</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>